<app-dialog-title (close)="dialogRef.close()"></app-dialog-title>
<app-dialog-content>
  <div class="container">
    <mat-icon class="icon">error_outline</mat-icon>
    <div class="dialog__text">{{text}}</div>
  </div>
</app-dialog-content>
<app-dialog-actions>
  <div class="text-right">
    <button mat-raised-button
            color="warn"
            (click)="dialogRef.close(true)">
      {{confirmText}}
    </button>
    <button mat-raised-button
            (click)="dialogRef.close()">
      {{cancelText}}
    </button>
  </div>
</app-dialog-actions>