@import '../../../../../../styles/variables';

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 8px 0 24px 0;
}

.icon {
  color: $color-red;
  font-size: 6.4rem;
  width: 6.4rem;
  height: 6.4rem;
  margin-left: 10px;
  margin-bottom: 5px;
}