.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
}

.chart {
  margin: 4%;
  flex-grow: 0;
  flex-basis: 30%;
  text-align: center;
  color: rgb(28, 46, 46);
  font-weight: bold;
}
