<div class="header">
  <h1 class="header-title">{{ title }}</h1>
</div>
<div class="container">
  <form [formGroup]="form"
        class="form">
    <mat-form-field>
      <input matInput
             type="email"
             placeholder="Email"
             formControlName="email"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="password"
             placeholder="Password"
             formControlName="password"
             [errorStateMatcher]="matcher"
             (keyup.enter)="submitForm()">
      <mat-error *ngIf="password.hasError('minlength') || password.invalid">
        Minimum password length 6 characters
      </mat-error>
    </mat-form-field>
    <div class="form-actions">
      <button mat-raised-button
              color="primary"
              (click)="submitForm()"
              [disabled]="!form.valid">{{ title }}</button>
      <button mat-raised-button
              (click)="onClose()">Cancel</button>
    </div>
  </form>
</div>