@import "../../../../../styles/components/actions-toolbar";

$desktop: 960px;
$tablet: 768px;
$mobile-large: 700px;
$mobile: 480px;
$mobile-small: 300px;

.cards {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  @media only screen and (max-width: $mobile-large) {
    font-size: 0.8em;
  }
}

.buttons {
  @media only screen and (max-width: $mobile-large) {
    display: none;
  }
}

.page-buttons {
  display: flex;
}

.page-button {
  display: flex;
  justify-content: center;
  padding: 16px 25px;
  color: #1b562d;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: 0.065px;
  text-align: left;
  border: 1px solid #9dcf96;
  box-sizing: border-box;
  background: linear-gradient(180deg, #e3f3d8, #e3f3d8);
  box-shadow: inset 0 1px 0 0px rgba(247, 248, 250, 0.7),
    inset 0 -1px 0 0px rgba(247, 248, 250, 0.7);
  cursor: pointer;
  user-select: none;
  outline: 0;
  min-width: 50px;

  &:disabled {
    background: linear-gradient(180deg, #d7dada, #d7dada);
    color: #f2f3f4;
    border: 1px solid #a8a8a8;
    box-shadow: inset 0px 1px 0px 0px #c4c5c4, inset 0px -1px 0px 0px #c4c5c4;
  }

  :host.full-width & {
    flex: 1 0 auto;
  }

  &:hover:not(:disabled) {
    background: linear-gradient(0deg, #fece99, #fee0b7);
    border-color: #e39c4c;
  }

  &.active {
    background: #f0f8ed;
    box-shadow: inset 0px 1px 0px 0px #ccdac5, inset 0px -1px 0px 0px #ccdac5;
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:not(:first-child) {
    border-left: none;
  }

  &:last-child:not(:first-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.selects {
  display: none;

  @media only screen and (max-width: $mobile-large) {
    display: block;
    width: 90px;
    font-size: 1.4rem;
  }
}
