@import "../../../../../styles/components/actions-toolbar";

.cards {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;

  &-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
}

app-google-map {
  width: 100%;
  height: 100%;
}