<main>
  <section class="text-container">
    <p class="homepage-text" id="first-line">Found an illegal dump?</p>
    <p class="homepage-text" id="second-line">Do you care?</p>
    <p class="homepage-text" id="third-line">Tell us and help to clean it up!</p>
  </section>
  <div id="report">
    <button id="report-box" (click)="onOpenAddReport()"> </button>
  </div>
  <section id="map-container">
    <div class="map">
      <app-google-map [height]="100"
                      [width]="100"></app-google-map>
    </div>
  </section>
</main>
