#map-container {
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.map {
    width: 100%;
    height: 100%;
}

.text-container {
    margin-top: 30px;
}

.homepage-text {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

#second-line {
    font-size: 1.6em;
}

#third-line {
    font-size: 1.4em;
    font-weight: bold;

}

#report {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

#report-box {
    width: 9%;
    height: 180px;
    min-width: 100px;
    padding: 1%;
    background-image: url(../../../assets/pin.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

button {
    border: none;
    background: none;
    cursor: pointer;
}