// FONT
$default-font-size: 1.6rem;

// COLORS
$color-black: #000;
$color-white: #fff;
$color-red: #F44336;
$color-red-deep: #B71C1C;

$color-primary-blue: #2979FF;
$color-primary-green: #43A047;

$color-light-grey: #EEEEEE;
$color-mid-grey: #757575;
$color-dark-grey: #212121;
$color-progress: #FFB300;