<div class="top-toolbar"
     *ngIf="authService.isAuthenticated()">
  <div class="top-toolbar-label">{{ authService.getUserEmail() }}</div>
  <div class="top-toolbar-button"
       (click)="logOut()">Log out</div>
</div>
<mat-toolbar color="beige">
  <mat-toolbar-row>
    <a routerLink="home"
       id="logo-link"><img src="../../../../../assets/ForestDump.png"
           id="logo"
           alt="ForestDump logo"></a>
    <nav class="wideScreen">
      <ul class="column">
        <li><a class="column-item"
             routerLink="home"
             routerLinkActive="active-link">Home</a></li>
        <li><a class="column-item"
             routerLink="dumps"
             routerLinkActive="active-link">Dumplist</a></li>
        <li><a class="column-item"
             routerLink="stats"
             routerLinkActive="active-link">Stats</a></li>
      </ul>
      <ul class="column">
        <li><a class="column-item"
             (click)="onOpenSignIn()">Sign In</a></li>
        <li><a class="column-item"
             (click)="onOpenSignUp()">Sign Up</a></li>
      </ul>
    </nav>
    <button id="menuButton"
            (click)="onToggleMenu()"
            [ngClass]="toggleMenu ? 'change' : ''">
      <div class="bar1"> </div>
      <div class="bar2"> </div>
      <div class="bar3"> </div>
    </button>
    <nav [ngClass]="toggleMenu ? 'toggleMenuStyle' : 'hidden'">
      <ul class="list">
        <li><a routerLink="home"
             routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="dumps"
             routerLinkActive="active-link">Dumplist</a></li>
        <li><a routerLink="stats"
             routerLinkActive="active-link">Stats</a></li>
        <li><a (click)="onOpenSignIn()">Sign In</a></li>
        <li><a (click)="onOpenSignUp()">Sign Up</a></li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>