#logo {
    height: 35px;
    margin-right: 20px;
}

.nav {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-style: normal;
}

.nav-item {
    padding: 20px;
}

mat-toolbar {
    min-height: 60px;
    //background-color: #033801;
}

.active-link {
    background-color:#e3f3df;
    color: black;
}