<mat-toolbar color="beige">
  <mat-toolbar-row>
    <a routerLink="home"
       id="logo-link"><img src="../../../../../assets/ForestDump.png"
           id="logo"
           alt="ForestDump logo"></a>
    <nav class="wideScreen">
      <ul class="column">
        <li><a class="column-item"
             routerLink="home"
             routerLinkActive="active-link">Home</a></li>
        <li><a class="column-item"
             routerLink="dumps"
             routerLinkActive="active-link">Dumplist</a></li>
        <li><a class="column-item"
             routerLink="stats"
             routerLinkActive="active-link">Stats</a></li>
      </ul>
      <ul class="column"
          *ngIf="!authService.isAuthenticated()">
        <li><a class="column-item"
             (click)="onOpenSignIn()">Sign In</a></li>
        <li><a class="column-item"
             (click)="onOpenSignUp()">Sign Up</a></li>
      </ul>
      <ul class="column"
          *ngIf="authService.isAuthenticated()">
        <li class="nick">{{ authService.getUserEmail() }}</li>
        <li><a class="column-item"
             (click)="logOut()">Log out</a></li>
      </ul>
    </nav>
    <button id="menuButton"
            (click)="onToggleMenu()"
            [ngClass]="toggleMenu ? 'change' : ''">
      <div class="bar1"> </div>
      <div class="bar2"> </div>
      <div class="bar3"> </div>
    </button>
    <nav [ngClass]="toggleMenu ? 'toggleMenuStyle' : 'hidden'">
      <ul class="list">
        <li><a routerLink="home"
             routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="dumps"
             routerLinkActive="active-link">Dumplist</a></li>
        <li><a routerLink="stats"
             routerLinkActive="active-link">Stats</a></li>
      </ul>
      <ul *ngIf="!authService.isAuthenticated()">
        <li><a class="row-item"
             (click)="onOpenSignIn()">Sign In</a></li>
        <li><a class="row-item"
             (click)="onOpenSignUp()">Sign Up</a></li>
      </ul>
      <ul *ngIf="authService.isAuthenticated()">
        <li><a class="row-item"
             (click)="logOut()">Log Out</a></li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>